<div id="container" style="width:100%; height:500px;">
  <script type="text/javascript">
    $(function () {
      var myChart = Highcharts.chart('container', {
        chart: {
          type: 'column'
        },
        title: {
          text: 'Drug Mortality by US state'
        },
        xAxis: {
          title: {
            text: 'US States'
          },
          categories: <%= raw @state_names %>
        },
        yAxis: {
          title: {
            text: 'Number of Deaths'
          },
        },
        tooltip: {
          formatter: function () {
            var states = <%= raw @state_all %>;
            var i;
            var len = states.length;
            for (i = 0; i < len; i++) {
              if (states[i][0] == this.x) {
                var title = states[i].join(', ');
              }
            }
            var data = '<b>' + title + '</b><br>';
            $.each(this.points, function (i, point) {
              data += '<span style="color:' + point.color + '; font-weight:bold">● ' +  point.series.name + ': </span>' + point.y + '<br>';
            });
            return data;
          },
          shared: true,
        },
        series: [{
          name: '2016',
          data: <%= raw @drug_2016_deaths %>
        }, {
          name: '2015',
          data: <%= raw @drug_2015_deaths %>
        }, {
          name: '2014',
          data: <%= raw @drug_2014_deaths %>
        }]
      });
    });
  </script>
</div>
