<%= form_with(model: state_population, local: true) do |form| %>
  <% if state_population.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state_population.errors.count, "error") %> prohibited this state_population from being saved:</h2>

      <ul>
      <% state_population.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.collection_select(:state_id, @states, :id, :state_menu) %>
  </div>

  <div class="field">
    <%= form.label "2016" %>
    <%= form.number_field :year_2016 %>
  </div>

  <div class="field">
    <%= form.label "2015" %>
    <%= form.number_field :year_2015 %>
  </div>

  <div class="field">
    <%= form.label "2014" %>
    <%= form.number_field :year_2014 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
