<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @state_population.state.name %>
</p>

<p>
  <strong>2016:</strong>
  <%= @state_population.year_2016 %>
</p>

<p>
  <strong>2015:</strong>
  <%= @state_population.year_2015 %>
</p>

<p>
  <strong>2014:</strong>
  <%= @state_population.year_2014 %>
</p>

<%= link_to 'Edit', edit_state_population_path(@state_population), data: { confirm: 'Are you sure you want to edit State population for this record?' } %> |
<%= link_to 'Back', state_populations_path %>
