<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @drug_mortality2015.state.name %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @drug_mortality2015.deaths %>
</p>

<%= link_to 'Edit', edit_drug_mortality2015_path(@drug_mortality2015), data: { confirm: 'Are you sure you want to edit Drug Mortality for this record?' } %> |
<%= link_to 'Back', drug_mortality2015s_path %>
