<%= form_with(model: flu_mortality2015, local: true) do |form| %>
  <% if flu_mortality2015.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flu_mortality2015.errors.count, "error") %> prohibited this flu_mortality2015 from being saved:</h2>

      <ul>
      <% flu_mortality2015.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.collection_select(:state_id, @states, :id, :state_menu) %>
  </div>

  <div class="field">
    <%= form.label :deaths %>
    <%= form.number_field :deaths %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
