<p id="notice"><%= notice %></p>

<div class="left-container">
<h1>Flu Mortality 2015</h1>
</div>

<div class="right-container">
  <%= form_tag(flu_mortality2016s_path, method: :get) do %>
    <%= label_tag(:filter_id, "Enter a state:") %>
    <%= text_field_tag(:filter_id, params[:filter_id]) %>
    <%= submit_tag("Filter") %>
  <% end %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th width="30%">State</th>
      <th width="50%">Deaths</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flu_mortality2015s.each do |flu_mortality2015| %>
      <tr>
        <td><%= flu_mortality2015.state.name %></td>
        <td><%= flu_mortality2015.deaths %></td>
        <td><%= link_to 'Show', flu_mortality2015 %></td>
        <td><%= link_to 'Edit', edit_flu_mortality2015_path(flu_mortality2015) %></td>
        <td><%= link_to 'Destroy', flu_mortality2015, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flu Mortality 2015', new_flu_mortality2015_path %>
