<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @flu_mortality2015.state.name %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @flu_mortality2015.deaths %>
</p>

<%= link_to 'Edit', edit_flu_mortality2015_path(@flu_mortality2015) %> |
<%= link_to 'Back', flu_mortality2015s_path %>
