<p id="notice"><%= notice %></p>

<div class="left-container">
<h1>Drug Mortality 2014</h1>
</div>

<div class="right-container">
  <%= form_tag(drug_mortality2014s_path, method: :get) do %>
    <%= label_tag(:filter_id, "Enter a state:") %>
    <%= text_field_tag(:filter_id, params[:filter_id]) %>
    <%= submit_tag("Filter") %>
  <% end %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th width="30%">State</th>
      <th width="50%">Deaths</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drug_mortality2014s.each do |drug_mortality2014| %>
      <tr>
        <td><%= drug_mortality2014.state.name %></td>
        <td><%= drug_mortality2014.deaths %></td>
        <td><%= link_to 'Show', drug_mortality2014 %></td>
        <td><%= link_to 'Edit', edit_drug_mortality2014_path(drug_mortality2014), data: { confirm: 'Are you sure you want to edit Drug Mortality for this record?' } %></td>
        <td><%= link_to 'Destroy', drug_mortality2014, method: :delete, data: { confirm: 'Are you sure you want to delete Drug Mortality for this record?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drug Mortality 2014', new_drug_mortality2014_path %>
