<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @drug_mortality2014.state.name %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @drug_mortality2014.deaths %>
</p>

<p>
  <strong>Per population number:</strong>
  <%= @drug_mortality2014.per_num_pop %>
</p>

<%= link_to 'Edit', edit_drug_mortality2014_path(@drug_mortality2014) %> |
<%= link_to 'Back', drug_mortality2014s_path %>
