<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @drug_mortality2016.state.name %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @drug_mortality2016.deaths %>
</p>

<%= link_to 'Edit', edit_drug_mortality2016_path(@drug_mortality2016) %> |
<%= link_to 'Back', drug_mortality2016s_path %>
