<nav class="navbar navbar-expand-lg fixed-top nav-light bg-light" role="navigation">
  <div class="navbar-header" style="padding-right:25px">
    <a><%=link_to("Home", root_path)%></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" style="border:solid;">
    <span>Menu</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="nav navbar-nav mr-auto ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Flu Mortality
        </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
       <a class="dropdown-item"><%=link_to("2016", flu_mortality2016s_path)%></a>
       <a class="dropdown-item"><%=link_to("2015", flu_mortality2015s_path)%></a>
       <a class="dropdown-item"><%=link_to("2014", flu_mortality2014s_path)%></a>
      </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Drug Poisoning Mortality
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item"><%=link_to("2016", drug_mortality2016s_path)%></a>
         <a class="dropdown-item"><%=link_to("2015", drug_mortality2015s_path)%></a>
         <a class="dropdown-item"><%=link_to("2014", drug_mortality2014s_path)%></a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Comparison</a>
      </li>

      <form class="form-inline ml-5">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search by State</button>
      </form>
    </ul>
  </div>
</nav>

<div>
  <h1 style= "color:green; text-align: left;">
    <%= image_tag("flu.png", style: 'width:100px', alt: "Flu is a bad bug", align:"left") %>
    <div style="padding-top:30pt; padding-bottom:20pt;">
      Reality through Mortality
      <p style="font-size:16pt;">Flu mortality in the US by state</p>
    </div>
  </h1>
</div>
